<p>
  <strong>Product Type </strong>
  <%= @coffee_maker.product_type %>
</p>
 
<p>
  <strong>Water Line Compatible </strong>
  <%= @coffee_maker.water_line_compatible %>
</p>

<p>
  <strong>SKU </strong>
  <%= @coffee_maker.sku %>
</p>
<%= link_to 'Back', coffee_makers_path %>